<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome Email</title>
</head>
<body>
    <h2>Dear {{Firstname}} {{Lastname}},</h2>

    <p>
        Welcome on board. Your account has been successfully set up and you can begin using it.
        <br />
        Having any issues? Our customer support team is available 24/7 to assist you. You can chat with us on our website, reply this mail to open a ticket or call us on 0700 222 2233.
        <br />
        We are glad to have you on board and know you are in for a marvellous ride with us.
        <br />
        ---
        DwitTech
        www.dwittech.com
    </p>

</body>
</html>